{% extends 'base.html.twig' %}

{% block title %}
    idea's title here | {{ parent() }}
{% endblock %}

{% block body %}
    {# todo:afficher détails #}
    <h2>wish's details... idea's title here</h2>
{% endblock %}

