{% extends 'base.html.twig' %}

{% block body %}
    <section class="wishes-list">
        <h2>All wishes!</h2>

        {% for wish in wishes %}
            <article>
                <a href="{{ path('wish_details', { 'id': wish.id }) }}"
                   title="View this wish in details">{{ wish.title }} [{{ wish.category.name }}]</a>
            </article>
        {% else %}
            <h3>Sorry we don't have any wish yet</h3>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    Wish list | {{ parent() }}
{% endblock %}

