<nav class="header-nav">

    <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
    <a href="{{ path('wish_list') }}" title="Go to the wish list">All wishes</a>
    <a href="{{ path('main_about_us') }}" title="Learn more about us">About us</a>

</nav>